@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400&family=Inter:wght@200;300;400;500&family=Open+Sans&family=Poppins:ital,wght@0,400;1,200;1,300;1,400;1,500;1,700&family=Press+Start+2P&family=Red+Hat+Display:wght@300;400;500;600;700&family=Roboto&family=Rubik:wght@300;400&display=swap');
* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.app {
  background-color: #fafafa;
  padding-bottom: 5rem;
}

.app__header {
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  object-fit: contain;
  margin-bottom: 15px;
}
.app__header Button {
  background-color: rgba(128, 128, 128, 0.13);
}
.signin{
  background-color: white !important;
  color: rgb(0, 123, 255) !important;
  margin-right: 1rem !important;
}
.signin:hover {
  color: rgba(255, 0, 102, 0.847) !important;
  background-color: rgba(128, 128, 128, 0.13) !important;
}
.signup:hover{
  background-color: blue !important;
  color: white;
}

.app__headerImage {
  object-fit: contain;
  height: 2rem;
  cursor: pointer;
}
.post-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post {
  border-radius: 10px;
}

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}
.signUp img {
  margin-bottom: 2rem;
}
.signUp input {
  width: 300px;
}
.signUp button {
  background-color: rgb(93, 237, 49);
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-top: 2rem;
}